# Get these from https://dev.twitch.tv/console
# 1. Log in and click "Register Your Application"
# 2. Set OAuth Redirect URL to http://localhost
# 3. Category: Other
# 4. Copy the Client ID, then click "New Secret" for the secret
TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here

PORT=3000
